<!DOCTYPE html>
<html ng-app="calculist2">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculist 2</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="calculatorController as calculator" ng-keypress="keyPress($event.keyCode)">

    <!-- Application Header -->
    <header>
      <h1 class="application--title">CALCU<span>L</span>IST<span>2</span></h1>
    </header>

    <!-- Application Main Area -->
    <main ng-app="calculist2">
      <!-- Calculator Area -->
      <section class="calc">
        <h2 class="section--title">C A L C U</h2>
        <!-- Screen Area -->
        <div class="display">
          <div class="display--screen">
            <p class="display--top">{{displayTop}}</p>
            <p class="display--bottom">{{displayBot}}</p>
          </div>
          <div class="display--buttons">
            <button ng-click="displayBot = ''; displayTop = ''" type="button" class="calc--button btn--clear"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="calc--button btn--list-add"><i class="fa fa-chevron-down"></i></i></button>
          </div>
        </div>
        <!-- Keypad -->
        <div class="calc--keypad">
          <!-- Keypad Area Top Row-->
          <button type="button" class="calc--button">+/-</button>
          <button type="button" class="calc--button">_</button>
          <button ng-click="inputBtnClick(' ^ ')" type="button" class="calc--button">^</button>
          <button ng-click="inputBtnClick(' / ')" type="button" class="calc--button">/</button>
          <!-- Keypad Area 2nd Row-->
          <button ng-click="inputBtnClick('7')" type="button" class="calc--button">7</button>
          <button ng-click="inputBtnClick('8')" type="button" class="calc--button">8</button>
          <button ng-click="inputBtnClick('9')" type="button" class="calc--button">9</button>
          <button ng-click="inputBtnClick(' * ')" type="button" class="calc--button">*</button>
          <!-- Keypad Area 3rd Row-->
          <button ng-click="inputBtnClick('3')" type="button" class="calc--button">4</button>
          <button ng-click="inputBtnClick('5')" type="button" class="calc--button">5</button>
          <button ng-click="inputBtnClick('6')" type="button" class="calc--button">6</button>
          <button ng-click="inputBtnClick(' - ')" type="button" class="calc--button">-</button>
          <!-- Keypad Area 4th Row-->
          <button ng-click="inputBtnClick('1')" type="button" class="calc--button">1</button>
          <button ng-click="inputBtnClick('2')" type="button" class="calc--button">2</button>
          <button ng-click="inputBtnClick('3')" type="button" class="calc--button">3</button>
          <button ng-click="inputBtnClick(' + ')" type="button" class="calc--button">+</button>
          <!-- Keypad Area Bottom Row-->
          <button ng-click="inputBtnClick('0')" type="button" class="calc--button btn--zero">0</button>
          <button ng-click="inputBtnClick('.')" type="button" class="calc--button">.</button>
          <button ng-click="equate()" type="submit" class="calc--button btn--equals">=</button>
        </div>
      </section>

      <!-- List Area -->
      <section ng-controller="listController as list" class="list">
        <h2 class="section--title">L I S T</h2>
        <ul>
          <li ng-repeat="card in cards" class="card">
            <div class="card--title-area">
              <h3 class="card--title">{{ card.title }}</h3>
              <a class="card--up" href=""><i class="fa fa-chevron-up"></i></a>
              <a class="card--down" href=""><i class="fa fa-chevron-down"></i></a>
              <a class="card--del" href=""><i class="fa fa-trash"></i></a>
            </div>
            <div class="card--equation">{{ card.equation }}</div>
            <div class="card--solution">{{ card.solution }}</div>
          </li>
        </ul>
      </section>
    </main>

    <!-- Application Footer -->
    <footer>
      <small>&copy; 2106 Dan Gallagher</small>
      <i class="fa fa-github fa-2x"></i>
    </footer>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Calculist2 -->
    <script src="calculist2.module.js"></script>
    <script src="calculator/calculator.controller.js"></script>
    <script src="calculator/calculator.directive.js"></script>
    <script src="list/list.controller.js"></script>
  </body>
</html>
