header {
  text-align: center;
}

.application {

  &--title {
    display: inline-block;
    background-color: inherit;
    color: #e8e8e8;
    font-size: 2.25rem;
    font-weight: $bold;
    padding: 0.5rem 1rem;
    letter-spacing: 0.1rem;
    transform: skewX(10deg);

    span {
      font-size: 3rem;
    }
  }
}
