.card {
  background: #e8e8e8;
  margin: 1rem auto;
  width: 75%;
  border-radius: 10px;

  &--title,
  &--equation,
  &--solution {
    font-size: 1.5rem;
    padding: 0.5rem;

  }

  &--title {
    display: flex;
    background: rgba(0,0,0,0.2);
    border-radius: 10px 10px 0 0;
    padding-left: 1rem;

    h3 {
      flex: 2;
    }

    &--up,
    &--down,
    &--del {
      margin-left: 0.75rem;
    }
  }

  &--equation,
  &--solution {
    text-align: right;
    padding-right: 1rem;
  }
}
